//- includes/pages/_portfolio.pug
include ../../mixins/_pictures

section.portfolio#portfolio-1
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +featuresPicture("portfolio", "unikorn", "png", "UniKorn")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-start UniKorn
        p.mb-0 Frontend framework for designing websites and web applications.
        p.mb-4.fw-bold #node #yarn #git #gulp #scss #es6 #pug
        .buttons-wrapper
          a.btn.btn-info.me-2.external-link(
            href="https://uni.adorade.ro/" rel="noopener" target="_blank" aria-label="UniKorn online")
            //- i.fas.fa-external-link-alt.me-2
            img.svg-inline--fa.me-2#fa-external-link(src="fonts/svgs/solid/external-link-alt.svg" alt="external-link" inline)
            span.fw-bold Online
          a.btn.btn-light.external-link(
            href="https://github.com/adorade/unikorn" rel="noopener" target="_blank" aria-label="UniKorn github")
            //- i.fab.fa-github.me-2
            img.svg-inline--fa.me-2#fa-github(src="fonts/svgs/brands/github.svg" alt="github" inline)
            span.fw-bold GitHub

section.portfolio#portfolio-2
  .container
    .row.align-items-center
      .col-12.col-md-6
        +featuresPicture("portfolio", "respo", "png", "Respo")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-start Respo
        p.mb-0 Responsive design check tool, see how websites looks on different devices.
        p.mb-4.fw-bold #devices #take #screenshots #photo
        .buttons-wrapper
          a.btn.btn-info.me-2.external-link(
            href="https://res.adorade.ro" rel="noopener" target="_blank" aria-label="Respo online")
            //- i.fas.fa-external-link-alt.me-2
            img.svg-inline--fa.me-2#fa-external-link(src="fonts/svgs/solid/external-link-alt.svg" alt="external-link" inline)
            span.fw-bold Online
          a.btn.btn-light.external-link(
            href="https://github.com/adorade/respo" rel="noopener" target="_blank" aria-label="Respo github")
            //- i.fab.fa-github.me-2
            img.svg-inline--fa.me-2#fa-github(src="fonts/svgs/brands/github.svg" alt="github" inline)
            span.fw-bold GitHub

section.portfolio#portfolio-3
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +featuresPicture("portfolio", "webmagia", "png", "WebMagia")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-start WebMagia
        p.mb-0 High Quality WordPress Premium Templates.
        p.mb-4.fw-bold #wordpress #themes #plugins #cms
        .buttons-wrapper
          a.btn.btn-info.me-2.external-link(href="#" aria-label="WebMagia online")
            //- i.fas.fa-external-link-alt.me-2
            img.svg-inline--fa.me-2#fa-external-link(src="fonts/svgs/solid/external-link-alt.svg" alt="external-link" inline)
            span.fw-bold Online
          //- a.btn.btn-light.external-link(href="#")
          //-   //- i.fab.fa-github.me-2
          //-   img.svg-inline--fa.me-2#fa-github(src="fonts/svgs/brands/github.svg" alt="github" inline)
          //-   span.fw-bold GitHub
          span.fw-bold Coming soon!

section.portfolio#portfolio-4
  .container
    .row.align-items-center
      .col-12.col-md-6
        +featuresPicture("portfolio", "timero", "png", "Timero")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-start Timero
        p.mb-0 A fresh way to save your time, without any distraction.
        p.mb-4.fw-bold #time #tasks #get #done
        .buttons-wrapper
          a.btn.btn-info.me-2.external-link(
            href="https://timero.adorade.ro" rel="noopener" target="_blank" aria-label="Timero online")
            //- i.fas.fa-external-link-alt.me-2
            img.svg-inline--fa.me-2#fa-external-link(src="fonts/svgs/solid/external-link-alt.svg" alt="external-link" inline)
            span.fw-bold Online
          a.btn.btn-light.external-link(
            href="https://github.com/adorade/timero" rel="noopener" target="_blank" aria-label="Timero github")
            //- i.fab.fa-github.me-2
            img.svg-inline--fa.me-2#fa-github(src="fonts/svgs/brands/github.svg" alt="github" inline)
            span.fw-bold GitHub
