//- mixins/_drawer.pug

//- Drawer menu
//------------------------
//- include ../path/to/mixins/_drawer
//- Usage: +drawerLink("menu")
mixin drawerLink(menu)
  if currentUrl
    - currentUrl = currentUrl;
  else
    - currentUrl = './';

  each menuItem in menu
    if (currentUrl === menuItem.link)
      - linkActive = 'active';
      - scrOnly = '<span class="sr-only">(current)</span>';
    else
      - linkActive = '';
      - scrOnly = '';

    li.nav-item(class=linkActive)
      a.nav-link(href=menuItem.link)
        img.svg-inline--fa.fa-fw.mr-3(id=`fa-${menuItem.icon}` src=`fonts/svgs/solid/${menuItem.icon}.svg` alt=`${menuItem.icon}` inline)
        | #{menuItem.label} !{scrOnly}
