//- mixins/_menulink.pug

//- Menu link
//------------------------
//- include ../path/to/mixins/_menulink
//- Usage: +menuLink("menu")
mixin menuLink(menu)
  if currentUrl
    - currentUrl = currentUrl;
  else
    - currentUrl = './';

  each menuItem in menu
    if (currentUrl === menuItem.link)
      - linkActive = 'active';
      - scrOnly = '<span class="sr-only">(current)</span>';
    else
      - linkActive = '';
      - scrOnly = '';

    li.nav-item
      a.nav-link(class=linkActive href=menuItem.link aria-label=`Go to ${menuItem.label}`)
        img.svg-inline--fa.fa-fw.me-3(id=`fa-${menuItem.icon}` src=`fonts/svgs/solid/${menuItem.icon}.svg` alt=`${menuItem.icon}` inline)
        | #{menuItem.label} !{scrOnly}

//--- Result
//- li.nav-item: a.nav-link.active(href="./" aria-label="Go to Home") #[span.fa-li #[i.fas.fa-home.fa-fw]] Home
//- li.nav-item: a.nav-link(href="#!" aria-label="Go to Services") #[span.fa-li #[i.fas.fa-toolbox.fa-fw]] Services
//- li.nav-item: a.nav-link(href="#!" aria-label="Go to Info") #[span.fa-li #[i.fas.fa-info-circle.fa-fw]] Info
//- li.nav-item: a.nav-link(href="#!" aria-label="Go to Portfolio") #[span.fa-li #[i.fas.fa-image.fa-fw]] Portfolio
//- li.nav-item: a.nav-link(href="#!" aria-label="Go to Contact") #[span.fa-li #[i.fas.fa-envelope.fa-fw]] Contact
