//- mixins/_pictures.pug

//- Cards Picture
//------------------------
//- include ../path/to/mixins/_pictures
//- Usage: +cardsPicture("name", "alt")
mixin cardsPicture(name, alt)
  picture.card-picture
    source(data-srcset="images/cards/" + name + ".webp" type="image/webp")
    source(data-srcset="images/cards/" + name + ".jpg" type="image/jpeg")
    img.lazy-cards.card-img(data-src="images/cards/" + name + ".jpg" alt=alt)

//- Top Banner
//------------------------
//- include ../path/to/mixins/_pictures
//- Usage: +banner("name", "alt")
mixin banner(name, alt)
  picture.masthead-picture
    source(type="image/webp" data-srcset="images/top/" + name + ".webp" media="(min-width: 576px)")
    source(type="image/jpeg" data-srcset="images/top/" + name + ".jpg" media="(min-width: 576px)")
    source(type="image/webp" data-srcset="images/top/" + name + "-min.webp")
    source(type="image/jpeg" data-srcset="images/top/" + name + "-min.jpg")
    img.lazy-top.masthead-img(
      src="images/top/" + name + "-min.jpg" inline
      data-src="images/top/" + name + "-min.jpg" alt=alt)

//- Services Picture
//------------------------
//- include ../path/to/mixins/_pictures
//- Usage: +servicesPicture("name", "alt")
mixin servicesPicture(name, alt)
  picture.services-picture.shadow-lg
    source(type="image/webp" data-srcset="images/services/" + name + ".webp")
    source(type="image/png" data-srcset="images/services/" + name + ".jpg")
    img.lazy-services.services-img(
      src="images/services/" + name + ".jpg" inline
      data-src="images/services/" + name + ".jpg" alt=alt)

//- Info Picture
//------------------------
//- include ../path/to/mixins/_pictures
//- Usage: +infoPicture("name", "alt")
mixin infoPicture(name, alt)
  picture.info-picture.shadow-lg
    source(type="image/webp" data-srcset="images/info/" + name + ".webp")
    source(type="image/png" data-srcset="images/info/" + name + ".jpg")
    img.lazy-info.info-img(
      src="images/info/" + name + ".jpg" inline
      data-src="images/info/" + name + ".jpg" alt=alt)

//- Carousel Items
//------------------------
//- include ../path/to/mixins/_pictures
//- Usage: +carouselPicture("name", "alt")
mixin carouselPicture(name, alt)
  picture.carousel-picture.shadow-lg
    source(type="image/webp" data-srcset="images/portfolio/" + name + ".webp" media="(min-width: 576px)")
    source(type="image/png" data-srcset="images/portfolio/" + name + ".png" media="(min-width: 576px)")
    source(type="image/webp" data-srcset="images/portfolio/" + name + "-min.webp")
    source(type="image/png" data-srcset="images/portfolio/" + name + "-min.png")
    img.lazy-carousel.carousel-img(data-src="images/portfolio/" + name + ".png" alt=alt)

//- Portfolio Items
//------------------------
//- include ../path/to/mixins/_pictures
//- Usage: +portfolioPicture("name", "alt")
mixin portfolioPicture(name, alt)
  picture.portfolio-picture.shadow-lg
    source(type="image/webp" data-srcset="images/portfolio/" + name + "-min.webp")
    source(type="image/png" data-srcset="images/portfolio/" + name + "-min.png")
    img.lazy-portfolio.portfolio-img(
      src="images/portfolio/" + name + "-min.png" inline
      data-src="images/portfolio/" + name + "-min.png" alt=alt)
