//- includes/head/_fonts.pug
// Fonts CSS File
link(
  rel="preload" href="https://fonts.googleapis.com/css?family=Aclonica%7CRoboto"
  as="style" onload="this.onload=null;this.rel='stylesheet'")
noscript: link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica%7CRoboto")
script#css-rel-preload(src="js/vendor/cssrelpreload.js" inline)

script(defer
  src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
  integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
  crossorigin="anonymous")
