//- includes/files/_scripts.pug
block external-js
  // jQuery first, then ...
  script(
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha256-WHwIASWxNdKakx7TceUP/BqWQYMcEIfeLNdFMoFfRWA="
    crossorigin="anonymous")
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/lozad.js/1.7.0/lozad.min.js"
    integrity="sha256-I7nCw4M1xTKstcul7ev95cSO+jNcI7NKDTxkeiEeT4Q="
    crossorigin="anonymous")

block custom-js
  script#unikorn(src="js/vendor/unikorn.min.js")
  script#inline-script(src="js/script.min.js" inline)
  //- script#main-script(src="js/script.min.js")
  //- script#script(src="js/script.js" inline)
  //- script#main-script(src="js/script.js")
