//- includes/sections/_carousel.pug
include ../../mixins/_pictures

section.carousel-portfolio.text-center#carousel-portfolio
  .container
    .row
      .col
        h2.mb-4 Our work

    .row.mb-5
      .col
        .carousel.slide.carousel-fade#carouselPortfolio(data-bs-ride="carousel")
          .carousel-indicators
            button.active(
              role="button" type="button"
              data-bs-target="#carouselPortfolio" data-bs-slide-to="0"
              aria-current="true" aria-label="Slide 1")
            button(
              role="button" type="button"
              data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
              aria-label="Slide 2")

          .carousel-inner.shadow-lg
            .carousel-item.active
              +carouselPicture("webmagia", "WebMagia")
            .carousel-item
              +carouselPicture("unikorn", "UniKorn")

          button.carousel-control-prev(role="button" type="button"
            data-bs-target="#carouselPortfolio" data-bs-slide="prev" aria-label="Previous")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
          button.carousel-control-next(role="button" type="button"
            data-bs-target="#carouselPortfolio" data-bs-slide="next" aria-label="Next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next

    .row
      .col
        p.mb-0: a.btn.btn-orange.track-link(href="portfolio.html" aria-label="Get Portfolio") Portfolio &#8594;
