//- partials/_fonts.pug
// Fonts CSS File
link(
  rel="preload" href="https://fonts.googleapis.com/css?family=Aclonica%7CRoboto"
  as="style" onload="this.onload=null;this.rel='stylesheet'")
noscript: link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica%7CRoboto")
script#css-rel-preload(src="js/vendor/cssrelpreload.js" inline)

script(defer
  src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
  integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
  crossorigin="anonymous")
