//- partials/_fonts.pug
// Fonts CSS File
link(
  rel="preload" href="https://fonts.googleapis.com/css?family=Aclonica%7CRoboto&display=swap"
  as="style" onload="this.onload=null;this.rel='stylesheet'")
noscript: link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica%7CRoboto&display=swap")

script(defer
  src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
  integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
  crossorigin="anonymous")
